@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

/* Example utilities for light/dark */
body {
  @apply bg-white text-gray-900;
}
.dark body {
  @apply bg-gray-900 text-gray-100;
}
