@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  @apply bg-white dark:bg-gray-900 transition-colors duration-300;
}

:root {
  --font-primary: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}
